body{
    font-family: "Roboto";
    margin: 0;
}

.header, .footer{
    background-color: #1F2937;
    display: flex; 
    padding: 50px 350px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.links{
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 10px;
}

.header{
    justify-content: space-between;
}

.footer{
    color: #F9FAF8;
    justify-content: center;
}

.content{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.one{
    display: flex;
    background-color: #1F2937;
    padding: 10px 360px;
}

.one-right, .one-left{
    flex:1;
}

.one-left{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding-right: 10px;
}

.one-right img{
    max-width: 100%;
    height: auto;
}

.one-left-one{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder
}

.one-left-two{
    color: #D3D4D1;
}

.one-left-three button{
    background-color: #4285F4;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px 26px;
    border: none;
}

.two{
    padding: 10px 360px;
}